{% extends 'proyecto/base.html' %}
{% load static %}
{% block title %}Productos{% endblock %}

{% block content %}
<h2>Catálogo de productos</h2>

{% if categoria_actual %}
    <h4>Mostrando productos de la categoría: <strong>{{ categoria_actual.nombre }}</strong></h4>
    <a href="{% url 'productos:lista' %}" class="btn">Ver todos los productos</a>
{% endif %}

<form method="get" style="margin-bottom: 20px;">
    <input type="text" name="q" placeholder="Buscar productos..." value="{{ request.GET.q }}">
    <button type="submit">Buscar</button>
</form>

<ul>
    {% for producto in productos %}
    <li style="margin-bottom: 20px;">
        <strong>{{ producto.nombre }}</strong> - ${{ producto.precio }} <br>
        {{ producto.descripcion }}<br>

        {% if producto.imagen %}
            <img src="{{ producto.imagen.url }}" width="120"><br>
        {% endif %}

        {% if user.is_authenticated %}
            <a href="{% url 'ordenes:agregar' producto.id %}" class="btn">➕ Agregar al carrito</a>
        {% else %}
            <p><a href="{% url 'clientes:login' %}">Inicia sesión</a> para comprar</p>
        {% endif %}
    </li>
{% empty %}
    <li>No hay productos.</li>
{% endfor %}
</ul>

<h3>Categorías</h3>
<ul style="list-style: none; padding: 0;">
    {% for categoria in categorias %}
        <li>
            <a href="{% url 'productos:por_categoria' categoria.id %}">
                {{ categoria.nombre }}
            </a>
            {% if user.is_staff %}
                <a href="{% url 'productos:editar_categoria' categoria.id %}" class="btn">Editar</a>
                <a href="{% url 'productos:eliminar_categoria' categoria.id %}" class="btn" style="background-color: crimson;">Eliminar</a>
            {% endif %}
        </li>
    {% empty %}
        <li>No hay categorías disponibles.</li>
    {% endfor %}
</ul>

{% if user.is_staff %}
    <a href="{% url 'productos:crear' %}" class="btn">Agregar nuevo producto</a>
    <a href="{% url 'productos:crear_categoria' %}" class="btn">Agregar nueva categoría</a>
{% endif %}

{% endblock %}


